.ReviewFormPane{
    width: 100%;
    height: 640px;
    margin-top:80px;
    margin-left:20px;
    position: absolute;
    z-index:-1;
}

.ReviewFormText{
    text-align: center; 
    color: black; 
    font-size: 36px; 
    font-family: Inter; 
    font-weight: 700; 
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 0;
}

.ReviewFormTable{
  border-collapse: collapse;
}

.ReviewFormTable thead{
    background-color: rgba(200,200,200,0.3);
    color:rgba(20,20,20,1);
    max-width:1024px;
    font-weight: 500;
    
}

.ReviewFormTable th{
    border: 0px solid;
    border-bottom: 1px solid rgba(150,150,150,1);
    padding-right: 10px;
    padding-left: 10px;

}

.ReviewFormTable td{
    border-bottom: 1px solid rgba(150,150,150,1);
}
