.e1_3 { 
	background-color:rgba(63.000000044703484, 138.00000697374344, 226.0000017285347, 0.75);
	width:100%;
	height:75px;
	position:fixed;
	left:0px;
	top:0px;
    display: flex;
}

.doctor_svg{
	left:230px;
	top:14px;
    position:absolute;
}
.e1_3 .link { 
	color:rgba(255, 255, 255, 1);
	height:19px;
	top:29px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
    margin-right:10px;
}
.e1_16 { 
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:39px;
	position:absolute;
	left:38px;
	top:18px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e1_3 .e26_461 { 
	width:120px;
	height:36px;
	position:absolute;
	right: 20px;
	top:21px;
}

.ei26_461_1_6 { 
	background-color:rgba(255, 255, 255, 1);
    border:0;
    color:rgba(54.00000058114529, 54.00000058114529, 54.00000058114529, 1);
	width:120px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
    font-family:Inter;
    text-align:center;
    font-size:20px;
    letter-spacing:0;
    padding: 0 0;
    cursor: pointer; 
}

.ei26_461_1_6:hover{
    background-color:rgba(35,85,202, 1);
    color:white;
}
.e1_3 .e40_620 { 
	width:120px;
	height:36px;
	position:absolute;
    display: flex;
	right: 160px;
	top:21px;
}

.e1_3 .name_tag { 
	width:140px;
	height:36px;
	position:absolute;
    display: flex;
	right: 160px;
    font-size:16px;
	top:29px;
}

.e1_3 a{
    text-decoration:none;
    color:white;
}

.e1_3 a:hover{
    color:rgba(35,85,202, 1);
}

.e1_3 .nav_links{
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    right: 300px;
    top: 29px;
    position:absolute;

}

@media (max-width: 1024px) {
    .e1_3 { 
        height: 50px;
    }
    .e1_3 .nav_links {
        align-items: center;
        right: 200px;
        top: 10px;
        height:25px;
        display: flex;
    }

    .e1_3 .link{
        margin-left: 8px;
    }
    .e1_3 .nav_links a:hover{
        color:rgba(170,218.250 1);
    }
    .e1_3  .e40_620 { 
        transform: scale(0.6,0.6);
        right: 80px;
        top: 5px;
        position: absolute;
    }

    .e1_3  .name_tag { 
        transform: scale(0.6,0.6);
        right: 80px;
        top: 10px;
        position: absolute;
    }
    .e1_3  .e26_461 {
        right: 0px;
        top:5px;
        transform: scale(0.6,0.6);
    }

    .doctor_svg{
        transform: scale(0.6,0.6);
        left: 110px;
        top: 0px;
        position:absolute;
    }
    .e1_3  .e1_16 {
        transform: scale(0.6,0.6);
        left: -30px;
        top: 5px;
        position: absolute;
    }
}

@media (max-width: 768px) {
    .e1_3 .nav_links {
        display: flex;
        align-items: center;
        left:0px;
        top:50px;
        width:100%;
        height:25px;
        background-color: #4d70c2;
    }

    .e1_3 .link{
        margin-left: 8px;
    }
    .e1_3 .nav_links a:hover{
        color:rgba(170,218.250 1);
    }
    .e1_3  .e40_620 { 
        transform: scale(0.6,0.6);
        right: 80px;
        top: 5px;
        position: absolute;
    }
    .e1_3  .name_tag { 
        transform: scale(0.6,0.6);
        right: 80px;
        top: 10px;
        position: absolute;
    }
    .e1_3  .e26_461 {
        right: 0px;
        top:5px;
        transform: scale(0.6,0.6);
    }

    .doctor_svg{
        transform: scale(0.6,0.6);
        left: 110px;
        top: 0px;
        position:absolute;
    }
    .e1_3  .e1_16 {
        transform: scale(0.6,0.6);
        left: -30px;
        top: 5px;
        position: absolute;
    }
}
